<div class="box">
  <h1>Edytuj piosenkę</h1>

  <%= render "form", song: @song %>

  <br>

  <div>
    <%= link_to "Pokaż szczegóły", @song %> |
    <%= link_to "Wróć do listy piosenek", songs_path %>
  </div>

</div>