<div class="box">
  <h1>Songs</h1>

  <%= link_to "Zaplanuj nową piosenkę", new_song_path %>

  <div id="songs">
    <hr>
    <% @songs.each do |song| %>
      <%= render song %>
      <p>
        <%= link_to "Pokaż szczegóły", song %>
      </p>
      <hr>
    <% end %>
  </div>
</div>
