<div class="box">
  <%= render @song %>

  <div>
    <%= link_to "Edytuj", edit_song_path(@song) %> |
    <%= link_to "Wróć do listy piosenek", songs_path %>
  </div>
  <br>
  <%= button_to "Usuń tę piosenkę", @song, method: :delete %>


</div>