<div id="<%= dom_id voucher_template %>">
  <p>
    <strong>Title:</strong>
    <%= voucher_template.title %>
  </p>

  <p>
    <strong>Chance:</strong>
    <%= voucher_template.chance %>
  </p>

</div>
