<div class="box">
  <h1>New voucher template</h1>

  <%= render "form", voucher_template: @voucher_template %>

  <br>

  <div>
    <%= link_to "Back to voucher templates", voucher_templates_path %>
  </div>

</div>