@import "animation.sass.scss";

.song-input {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, 0);
  height: 600px;
  text-align: center;

  .grow {
    flex-grow: 1;
  }

  form {
    text-align: center;
    font-family: "Open Sans", sans-serif;

    input[type='submit'] {
      padding: 8px 12px;
      border: none;
      background: #ffc286;
      border-radius: 2px;
      color: white;
    }

    input[type='text'] {
      padding: 10px 10px 10px 5px;
      color: #333;
      font-family: "Open Sans", sans-serif;
      width: 100%;
      font-size: 16px;
      display: block;
      border: none;
      border-bottom: 1px solid #d0dce7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: transparent;
      text-align: center;
    }
  }
}
#animation {
  width: 600px;
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}
.popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  padding: 8px 16px;
  color: white;
  width: 100%;

  p {
    font-size: 14px;
  }
}
.alert {
  background-color: #f44336;
}
.notice {
  background-color: #65f436;
}
.close-button {
  align-self: center;
  color: white;
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 30px 0.1em 0;

  &:hover {
    color: black;
  }
}

html,
body {
  margin: 0;
  background: #fafafa;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
}

.login__form {
  background: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
}

.login__form .login__header {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 60px
}

.login__form .login__header .login__title {
  font-size: 36px;
  font-weight: 400
}

.login__form .login__header .login__subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #363636;
}

.login__form .login__main {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto
}

.login__form .login__main .login__group {
  position: relative
}

.login__form .login__main .login__group .login__input {
  margin-top: 50px;
  padding: 10px 10px 10px 5px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 16px;
  display: block;
  border: none;
  border-bottom: 1px solid #d0dce7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.login__form .login__main .login__group .login__input:focus {
  outline: none
}

.login__form .login__main .login__group .login__input:focus ~ label,
.login__form .login__main .login__group .login__input:valid ~ label {
  top: -20px;
  font-size: 12px;
  text-transform: uppercase
}

.login__form .login__main .login__group .login__label {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all
}

.login__form .login__main .login__terms {
  font-size: 14px;
  color: #a8b8c4;
  margin: 40px auto;
  line-height: 19px;
}

.login__form .login__main .login__terms a {
  text-decoration: none;
  color: #007ee5
}

.login__form .login__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  background: #007ee5;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 45px;
  font-size: 14px;
  max-width: 90%;
  margin-bottom: 10px;
}

.login__footer {
  display: flex;
  justify-content: center;
}

.login__button:hover {
  cursor: pointer;
}

.login__bar {
  position: relative;
  display: block
}

.login__bar:before,
.login__bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #007ee5;
  transition: .2s ease all;
  -moz-transition: .2s ease all;
  -webkit-transition: .2s ease all
}

.login__bar:before {
  left: 50%
}

.login__bar:after {
  right: 50%
}

input:focus ~ .login__bar:before,
input:focus ~ .login__bar:after {
  width: 50%
}

@media (min-width: 620px) {
  #animation {
    width: 100vh;
  }
  body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
  }
  .alert {
    position: absolute;
    p {
      font-size: 20px;
    }
    .close-button {
      font-size: 36px;
    }
  }
  .login__form {
    max-width: 400px;
    height: 520px;
    box-shadow: 2px 2px 12px 0px rgba(66, 68, 90, 1);
    align-self: center;
  }
  .login__form.registration {
    height: 700px;
  }
  .login__title {
    position: relative
  }
  .login__footer {
    text-align: center
  }
  .login__footer .login__button {
    bottom: initial;
    position: initial;
    width: 320px
  }
}