<%= render partial: 'application/navbar' %>
<div class="vouchers">
  <h1>Moje bony</h1>
  <hr>
  <% unless @vouchers.any? %>
    <p>Brak bonów</p>
  <% end %>
  <% @vouchers.each do |voucher| %>
    <%= render partial: 'voucher', locals: { voucher: voucher } %>
  <% end %>
</div>
